@import "bootstrap";
@import "./variables.scss";


html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $bg-color;
    font-weight: 100;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container{
    width: 375px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    p{
        padding: 10px;
        font-size: 130%;
        display: block;
        margin-bottom: 0;
        font-weight: 400;

    }

}




.input-bar__box{
    height: 40px;
    padding: 8px;
    background-color: rgba(240, 236, 236, 0.377);
    vertical-align: middle;
    input{
        opacity: 0.8;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 14px;
        background-color: rgba(221, 218, 218, 0.452);;
        border-radius: 5px;;
    }

}



.scroll-horizontal{
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    border-top: 2px solid rgba(206, 204, 204, 0.74);

}

.apps-recommend__box{
    height: 100%;
    display: inline-block;
    width: 31%;
    vertical-align: top;

    
    img{
        text-align: center;
        width: 90px;
        border-radius: 20px;
    }

    ul{
        list-style: none;
        padding-inline-start: 0;
        width: 90%;
        
        li{
            width: 90%;
            text-align: left;
            font-size: 70%;
            white-space: normal;
            
            &:first-child{
                font-size: 80%;
                font-weight: 300;
            }
        }
    }
}



.scroll-vertical{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 530px;
}

.apps-top100__box{
    display: block;
    border-top: 2px solid rgba(206, 204, 204, 0.74);
    padding-top: 5px;


    p{
        float: left;
        margin-top: 20px;
        font-size: 110%;
        font-weight: 100;
    }

    img{
        float: left;
        text-align: center;
        width: 90px;
        padding: 4px;
        border-radius: 20px;
    }

    &:nth-of-type(even) {
        img{
            border-radius: 50px;
        }
    }

    

    ul{
        list-style: none;
        padding-inline-start: 0;
        width: 80%;
        padding: 15px;
        margin-left: 120pX;
        margin-bottom: 5px;

        
        li{
            width: 90%;
            text-align: left;
            font-size: 70%;
            white-space: normal;
            
            &:first-child{
                font-size: 90%;
                font-weight: 300;
            }

            &:nth-child(3){
                float: left;
                width: 25%;
            }

            &:last-child{
                display: inline-block;
                font-size: 55%;
                font-weight: 200;
                width: 75%;
                position: relative;
                top: -5px;
            }

        }
    }

}